/* CSS Styles */

* {
  box-sizing: border;
  padding: 0;
  margin: 0;
}

/* Align everything in body to center of window */
body {
  margin: auto;
  height: 100vh;
  /* TO COMMENT BOTTOM LINES OUT IF I KEEP DEFAULT CANVAS CSS (LINES 33-38) */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: red; */
}

/* p5 canvas */
#defaultCanvas0 {
  /* margin: auto;
  display: flex;
  align-items: center;
  justify-content: center; */

  /* THIS DOES NOT WORK */
  /* top: 50%; */
  /* transform: translateX(-50%);
  left: 50%;
  z-index: -100; */

  /* THIS WORKS, UNCOMMENT WHEN DONE TESTS */
  /* position: fixed;
  top: 0;
  left: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  z-index: -100; */
}

/* .memory-category {

} */
