/* CSS Styles */

/* Import Balsamiq Sans font */
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border;
  padding: 0;
  margin: 0;
}

/* Align everything in body to center of window */
body {
  font-family: "Balsamiq Sans", cursive;
  margin: auto;
  height: 100vh;
  /* TO COMMENT BOTTOM LINES OUT IF I KEEP DEFAULT CANVAS CSS (LINES 33-38) */
  display: flex;
  align-items: center;
  justify-content: center;
  /* light grey */
  background: #dcdcdc;
  /* background: red; */
}

/* Position type caption section  */
#type-caption {
  /* Set font properties */
  font-size: 1em;
  color: grey;
  font-family: "Balsamiq Sans", cursive;

  /* Don't display until camera button is pressed */
  display: none;

  /* Hide border */
  border-color: transparent;
  border-style: none;

  /* Set size */
  width: 165px;
  height: 100px;
  /* Don't allow it to be resized */
  resize: none;

  /* Set position values */
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(calc(50vw - 50%), calc(50vh + 132%));
}

/* Download button in intro */
/* #download-button {
  display: flex;

  position: fixed;
  top: 70%;
  left: 40%;
  text-align: center;
  background: red;
} */

/* p5 canvas */
#defaultCanvas0 {
  /* margin: auto;
  display: flex;
  align-items: center;
  justify-content: center; */

  /* THIS DOES NOT WORK */
  /* top: 50%; */
  /* transform: translateX(-50%);
  left: 50%;
  z-index: -100; */

  /* THIS WORKS, UNCOMMENT WHEN DONE TESTS */
  /* position: fixed;
  top: 0;
  left: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  z-index: -100; */
}

/* .memory-category {

} */
